/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* --------------------- custom stuff --------------------- */

input[type=button], input[type=submit], input[type=reset] {
    background-color: #1ed760;
    border: none;
    color: white;
    padding: 2px 8px;
    border-radius: 500px;
    transform: translate3d(0,0,0);
    transition-property: box-shadow, transform;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

input[type=button].redButton, input[type=submit].redButton, input[type=reset].redButton {
    background-color: #d71e60;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #2ee770;
    transform: translate3d(0,-2px,0);
    box-shadow: 0 4px 10px 2px rgba(0,0,0,.2);
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.16,1,.29,.99)
}

input[type=button].redButton:hover, input[type=submit].redButton:hover, input[type=reset].redButton:hover {
    background-color: #e72e70;
}

.page-room input[type=button], .page-room input[type=submit], .page-room input[type=reset] {
    padding: 8px 16px;
}

input[type=button]:disabled, input[type=submit]:disabled, input[type=reset]:disabled {
    background-color: #7e9770;
    color: #e1e1e1;
}

.controls-area input[type=button], .controls-area input[type=submit], .controls-area input[type=reset] {
    margin: 0 5px 10px 0;
}

input[type=text] {
    border-radius: 500px;
    padding-left: 8px;
}

main, .footer {
    color: white;
}

.footer {
    background-color: black;
}

.bggradient {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
}

.bggradient2 {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(transparent, #000);
}

#currentProgress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 250px;
    height: 10px;
    margin: 0;
    padding: 0;
}

#listenerList, #djList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#listenerList li, #djList li {
    display: block;
    margin-bottom: 1rem;
}

h1 span {
    color: white;
    text-shadow: 2px 2px black;
}

a {
    color: #1ed760;
}

a:hover {
    color: darkgreen;
}

hr {
    border: 2px transparent;
    margin: 2rem 0;
}

.green-border {
    border-left: 2px solid #1ed760;
}

.blue-border {
    border: 2px dotted #999999;
}

h3 a[data-toggle="collapse"] {
    color: white;
}

h3 a[data-toggle="collapse"]:hover {
    color: #e1e1e1;
    text-decoration: none;
}


h3 a[data-toggle="collapse"]::after {
    font-size: 60%;
    font-weight: lighter;
    margin-left: 1rem;
    content: "(close 👇)";
}

h3 a[data-toggle="collapse"].collapsed::after {
    font-size: 60%;
    font-weight: lighter;
    margin-left: 1rem;
    content: "(expand 👉)";
}

.footer {
    line-height: 1.5;
}

.footer span {
    display: block;
    margin: 0.7rem 0;
    white-space: normal;
}

.footer span span {
    display: inline;
}

.footer span.footer-debug {
    color: #414141;
    font-family: monospace;
}

.footer span.footer-info {
    color: #6c757d;
}

.external-welcome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -42px;
}

.external-welcome-wrapper .headerlogo {
    margin-bottom: 2rem;
}

.external-welcome-wrapper .headerlogo, .external-welcome-wrapper .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.external-welcome-wrapper .headerlogo h1 {
    font-size: 72px;
}

.external-welcome-wrapper .headerlogo img {
    margin: 20px;
}

.external-welcome-wrapper p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.external-welcome-wrapper p span {
    font-size: 1rem;
    color: #d0d0d0;
    font-style: italic;
}

.external-welcome-wrapper .bigbutton {
    margin: 4rem 0;
    padding: 20px 40px;
    background-color: #1ed760;
    border: none;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.external-welcome-wrapper .bigbutton:hover {
    text-decoration: none;
    color: #e1e1e1;
    background-color: #008000;
}

.external-welcome-wrapper .links a {
    margin: 0 2rem;
}

.form-room-join {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.form-room-join input[type="text"] {
    font-size: 2rem;
    padding-left: 1rem;
}

.form-room-join input[type="submit"] {
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-weight: bold;
}

a.whitelink {
    color: white;
    text-decoration: underline;
}

a.whitelink:hover {
    color: #e1e1e1;
}

.beta-badge {
    top: 0.5rem;
    right: 0.5rem;
    position: fixed;
    display: block;
    margin: 1rem;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    background: #e1e100;
    color: black;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.75);
}

.not-exactly-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.invite-link-area {
    border: 2px dotted #6c757d;
    padding: 1rem;
}

.invite-link-area span {
    font-size: 0.8rem;
}

.invite-link-area input {
    width: 100%;
    border-radius: 0;
    background-color: rgba(1, 1, 1, 0.5);
    border: none;
    color: #707070;
    font-family: monospace;
    font-size: 0.8rem;
    line-height: 1rem;
}

#notification-area {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#notification-area:first-child {
    margin-top: 6rem;
}

.puget-notification {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 3rem;
    backdrop-filter: blur(30px);
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
    transition: all 0.5s;
}

.puget-notification-information {
    background: rgba(50, 50, 255, 0.5);
}

.puget-notification-success {
    background: rgba(50, 255, 50, 0.5);
}

.puget-notification-warning {
    background: rgba(255, 255, 50, 0.5);
}

.puget-notification-error {
    background: rgba(255, 50, 50, 0.5);
}

@keyframes flashing-yellow-border {
    0% {
        border: 2px solid yellow;
    }

    49% {
        border: 2px solid yellow;
    }

    50% {
        border: 2px dotted #999999;
    }

    100% {
        border: 2px dotted #999999;
    }
}

.flashing-border {
    animation-name: flashing-yellow-border;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-delay: 2s;
}

@media screen and (max-width: 600px) {
    .external-welcome-wrapper {
        display: block;
        margin-top: 0;
    }

    .external-welcome-wrapper .headerlogo, .external-welcome-wrapper .links {
        display: block;
        text-align: center;
    }

    .external-welcome-wrapper .links a {
        display: block;
        margin: 1rem 0;
    }

    .external-welcome-wrapper .headerlogo h1 {
        font-size: 40px;
    }

    .external-welcome-wrapper .bigbutton {
        display: block;
    }

    .footer {
        margin-top: 3rem;
        position: relative;
    }

    .form-room-join {
        display: block;
    }

    .form-room-join input[type="text"] {
        font-size: 1rem;
        padding-left: 0.5rem;
    }

    .form-room-join input[type="submit"] {
        text-transform: uppercase;
        padding: 0.25rem 1rem;
        font-weight: bold;
    }

    .puget-notification {
        width: 90vw;
    }
}