@{
    ViewData["Title"] = "How It Works - PugetSound";
    ViewData["Page"] = "external/howitworks";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="mb-3"><a href="/" class="whitelink">🏠 Back home</a></p>
            <h1>How It Works</h1>
            <p><strong>PugetSound</strong> allows you and your group to enjoy music together using Spotify.</p>
            <p>PugetSound creates a playlist called "PugetSound Queue" in your Spotify account. When you join a room and become a DJ, you'll take turns to play a song for the room members. When it's your turn, the first song from your queue playlist will be played for everyone, and it'll be also removed from said playlist. (Therefore it's not recommended to use it for other purposes.)</p>
            <p>Unlike other solutions, PugetSound handles the synchronization and queueing on the backend, so it's not necessary to keep the tab open - as long as you have a Spotify player open on a device. This also means that you need to re-enter the room and explicitly press the [Leave room] button to retake control of your Spotify account.</p>
        </div>
    </div>
</div>