@{
    ViewData["Title"] = "PugetSound";
    ViewData["Page"] = "external/welcome";
}

<div class="container not-exactly-fixed-top h-100">
    <div class="external-welcome-wrapper h-100">
        <div class="headerlogo">
            <img src="ms-icon-144x144.png" />
            <h1>PugetSound</h1>
        </div>
        <p>PugetSound allows you and your group to enjoy music together using Spotify!<br /><span>Spotify Premium required.</span></p>
        <a href="/internal" class="bigbutton">Join with Spotify</a>
        <div class="links">
            <a href="/howitworks">💡 How It Works</a>
            <a href="https://github.com/tomzorz/PugetSound">⚙ On GitHub</a>
        </div>
    </div>
</div>
